:root {
    --blue: #0DA5F6;
    --gris: #777;
    --nunito: 'Nunito'
}
body {
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: lightgrey;
    width: 100%;
}

.logo {
    max-width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

main {
    margin: 5px;
}

.parent {
    display: flex;  
    box-sizing: border-box;
}

.nombre {
    color: var(--blue);
    font-size: 25px;
}

.info-general {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    border: 3px solid black;
    border-radius: 5px;
    width : 100%;
    box-sizing: border-box;

}

.info-general p {
    font-size: 25px;
    font-weight: bold;
    color: #777;
    font-family: var(--nunito);
}

.container-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.info {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 25px;
}

.signe, .presence, .absence, .nonrenseigne {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blue);
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 25px;
}

.info p {
    font-size: 20px;
    font-weight: bold;
    color: #777;
    font-family: 'Nunito', sans-serif;
}

.stagiaire {
    color: black;
    font-family: 'Nunito';
    border: 1px solid black;
    width: 70%;
    transition: background-color 0.3s;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    padding : 15px;
}


.infostagiaire {
    grid-area: 1 / 1 / 3 / 2;
    
}

.present {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
}

.absent {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#stagiaires-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.nomargin {
    margin : 0;font-size: 30px;
}

.mail {
    font-size: 15px;
    font-style: italic;
}

.bar {
    background-color: var(--blue);
    width: 80%;
    height: 3px;
    margin: 20px auto;
}

.centrerboutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    background-color: var(--blue);
    font-family: 'Nunito';
    border-radius: 5px;
}

#boutton-ajouter {
    cursor: pointer;
    background-color: var(--blue);
    font-family: 'Nunito';
    border-radius: 5px;
}

#ajout-eleve-form {
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 20px;
    gap: 5px;
}

#ajout-eleve-form label {
    font-family: 'Nunito', sans-serif; /* Changer la typographie */
    color: #333; /* Couleur du texte */
    font-size: 16px; /* Taille de la police */
}


#ajout-eleve-form input,
#ajout-eleve-form select {
    font-family: 'Nunito', sans-serif; /* Changer la typographie */
    font-size: 16px; /* Taille de la police */
}



@media(max-width : 425px){
    .parent {
        flex-direction: column;
    }
    .container-info {
        grid-template-columns: repeat(2, 1fr);
    }

    #ajout-eleve-form {
        flex-direction: column;
    }

    #triBouton {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}